    <!-- FOOTER -->
    <footer class="d-flex justify-content-xl-center" style="margin-top: 0px;">
      <div class="row d-flex flex-grow-1 justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center" style="max-width: 66%;">
          <div class="col-sm-6 col-md-4 d-flex flex-column align-items-xl-end footer-navigation">
              <a href="https://www.fusionacademy.com/"><img src="/assets/img/FusionLogoFullReverse.png" style="width: 150px;height: 40px; margin-bottom: 20px;"></a>
              <div class="social-links social-icons" style="margin: 0px;"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
              <p class="company-name">Joshua Pare © 2020</p>
          </div>
          <div class="col-md-4 d-inline-flex flex-column flex-shrink-0 footer-about" style="width: auto;min-width: 66.6%;">
              <h4>About this site</h4>
              <p style="max-width: 700px;"> This webste is here to provide students, staff and faculty at Fusion Alexandria a free, accessible resource to various tools and libraries for use in projects. All media contained within this site are free to use by anyone of said group.<br><br>By
                  using this site, you agree to follow the Community Guidelines.</p>
          </div>
      </div>
  </footer>

  <!-- SCRIPTS -->
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <script src="/assets/js/new-age.js"></script>
  
</body>

</html>