<%- include("partials/landingnav.ejs") %>

    <video autoplay="autoplay" muted="muted" loop="loop" id="backgroundVideo">
        <source src="/assets/img/Turntable - 8437.mp4" type="video/mp4">
    </video>

    <!-- MAIN AREA -->
    <div class="container h-100">
        <div class="row d-flex h-100">
            <div class="col-lg-7 my-auto">
                <div class="mx-auto header-content">
                    <h1 class="display-4 mb-5 text-white">Access free sounds, multitracks, presets and more - available to you at Fusion Academy.</h1><a class="btn btn-outline-warning btn-xl js-scroll-trigger" role="button" href="register">Sign Up</a></div>
            </div>
            <div class="col-lg-5 d-flex my-auto justify-content-sm-center align-items-sm-center" style="margin: 0px;margin-top: 0px;margin-bottom: 0px;">
                <div class="iphone-mockup" style="background: url(&quot;/assets/img/Fusion-Mosaic.png&quot;) center / contain no-repeat;height: 300px;width: 300px;"></div>
            </div>
        </div>
    </div>



 


<%- include("partials/landingfooter.ejs") %>